label, #year, #tooltip {
	font-family: helvetica, sans-serif;
	font-size: 14px;
}

/* Styles the horizontal slider; alternately use jquery-ui class '.ui-slider-horizontal' */
#slider { 
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
	margin-top: 70px; 
	height: 3px;
	width: 300px;
	background: #B7B3AB;
}

#tooltip {
	position: absolute;
	z-index: 999;
	left: -15px;
	bottom: 0;
	top: 0;
	width: 40px;
	height: 18px;
	padding: 2px;
	background-color: #323232;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-weight: lighter;
}

/* Styles the handle; alternatively use '.ui-slider-handle' */
.ui-widget-content .ui-state-default {
	background: #FFFAEF;
	/*background-image: url("clock-icon.png");*/
	border-color: white;
	border-width: 2px;
	border-radius: 30px;
	left: 0;
	top: -10px;
}

/** Remove the default blue outline on slider; alternatively use '.ui-state-focus:focus' */
.ui-widget * {
	outline: none;
}

div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 300px;
	background-color: #9D3384;
	border-radius: 10px;
}